@page "{id:guid}"
@model EliminarModel
@{
    ViewData["Title"] = "Eliminar Producto";
}

<h1>Eliminar Producto</h1>

<div class="container">
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.producto.Nombre</h5>
                <p><b>Descripción:</b> @Model.producto.Descripcion</p>
                <p><b>Precio:</b> $@Model.producto.Precio</p>
                <p><b>Stock:</b> @Model.producto.Stock</p>
            </div>
        </div>

        <form method="post">
            <input type="hidden" asp-for="producto.Id" />
            <a class="btn btn-secondary" asp-page="./Index">Cancelar</a>
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </form>
    </div>
</div>